@model NovelWebApp.Models.Novel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Novel</h4>
    <hr />
    <dl class="row">
        @foreach (var chap in @Model.Chapters)
        {
             <a asp-controller="Chapters" asp-action="Details" asp-route-id="@chap.ChapterId">Chapter @chap.ChapterNumber</a>
        }
    </dl>
</div>
<div>
  
  
</div>
