@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Solway:wght@300&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Solway', serif;
    margin: 0px;
    /*    margin-bottom: 60px;*/
    background: #203847;
    background-image: url("../Images/fant3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container-height {
    background: #E2E9F0;
    border-color: #ffffff;
    height: 100vh;

}
.holder {
    background-color: ghostwhite;
    padding: 2%;
}
.editor-container {
    height: 100%;
    padding-bottom: 10px;
}

.thumb {
    height: 100px;
}
.navbar-dark {
    background-color: #303F9F;
}

a {
    color: #3F51B5;
}
a:hover {
    color: #FFFFFF;
}

.btn-primary {
    background-color: #E040FB;
}

.wrap {
    word-wrap: break-word;
}
/*footer {
    background-color: #BDBDBD;
}*/